/*Widget*/
.widget{
    .widget-title, .widgettitle{
        @include px2rem(18);
        font-weight: 500;
    }
}
.sidebar{
    .mc4wp-form-fields{
        p,input,select{
            margin-bottom: 10px;
            width: 100%;
        }
    }
}
.widget_tag_cloud .widget-title, .widget_tag_cloud .widgettitle{
    margin-bottom: 25px;
}

.text-field, textarea {
    line-height: 1.6;
}

.sublimeplus-widget-social-icon {
    &.icon {
        li {
            display: inline-block;
            font-size: 1rem;
            padding: 0;
            margin: 0 15px 0 0;
            &:last-child {
                margin: 0
            }
            a {
                border: none;
                &:hover {
                    color: var(--black-color);
                }
            }
            i{
                @include px2rem(24);
            }
        }
    }
}

.widget_recent_comments .recentcomments {
    position: relative;
    .comment-author-link {
        a {
            &:hover {
                color: var(--link-hover-color);
            }
        }
    }
}

.widget > ul li {
    &.recentcomments {
        padding-left: 0
    }
}

@media(max-width: 992px) {
    .wrap-form-lb-search .btn-close-lb-search {
        right: 0;
        top: 0
    }
}
.widget_calendar,.wp-block-calendar{
    caption{
        color: var(--black-color);
        background: var(--bg-block-color);
        margin: 0;
        padding: 8px;
    }
}

.sidebar .widget_categories {
    li a{
        color: var(--body-color);
    }
    &> ul > li {
        & > a {
            &:before {
                font-family: cleversoft;
                content: '\c270';
                margin-right: 10px;
                @include px2rem(26);
                line-height: 1;
                background: none !important;
            }
        }
    }
    li ul{
        padding-left: 45px;
    }
}
.sublimeplus-posts-widget .date-post{
    text-transform: capitalize;
    @include px2rem(14)
}
/*End Css search lightbox*/
/*End Widget*/
.sublimeplus-image-hover{
    a{
        display: inline-block;
    }
}
.footer-logo img{
    max-width: 65px;
}
.footer-row .Sublimeplus_imghover_widget.widget{
    margin-bottom: 15px;
}